h1{
  text-align: center;
  font-size: 50px;
  font weight: normal;
  font-family: Verdana;
  Font-color: White
}

h3{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

a:visited {
    color: aquamarine;
    background-color: none;
    text-decoration: none;
