body{
  background-color: black;
  text-align: center;
}

h1{
  font-size: 50px;
  font-family: Verdana;
  color: white;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  Font Family: Verdana;
  font-size: 21px;
  color: Gray;
}

h4{
  color: aquamarine;
  font-size: 16px;
}

a:visited {
    color: aquamarine;
    background-color: none;
    text-decoration: none;
}
